---
 const personalImageAlt = "Andreu Gisbert Bel"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Andreu Gisbert Bel. Empecé en la
      programación hace unos años cuando curse <strong>ASIR</strong>. Actualmente estoy en busca de empleo y formandome en el mundo del desarrollo web.
    </p>

    <p>
      Aunque no todo es programación, siempre he sido mas de la parte de sistemas y redes. Me encanta la <strong>ciberseguridad</strong> y todo lo que tenga que ver con la seguridad informática.
    </p>

    <p>
      Fuera del ámbito profesional, disfruto de mantenerme activo. Entre mis aficiones están el deporte, especialmente el running, la bici de montaña, el gimnasio y los viajes.
    </p>
  </div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>