---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Noviembre 2023 - Junio 2024",
    title: "Desarrollador Web",
    company: "Hospital Santa Creu",
    description:
      "Contrato de prácticas en Hospital Santa Creu, donde tuve la responsabilidad de gestionar y mejorar la aplicación de bolsa de trabajo desarrollada con el framework Laravel. Durante mi estancia, implementé nuevas funcionalidades para optimizar el flujo de trabajo, además de realizar importantes mejoras en la seguridad del sistema.",
  },
  {
    date: "Julio 2023 - Noviembre 2023",
    title: "Técnico Soporte Informático",
    company: "Hospital Santa Creu",
    description:
      "Contrato de prácticas en Hospital Santa Creu, desempeñando funciones de Helpdesk y brindando soporte tanto remoto como presencial a los empleados. Mis responsabilidades incluían la resolución de incidencias técnicas diarias, tales como problemas de conectividad, configuración de software y hardware, y asistencia en la utilización de equipos.",
  },
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
